:root {
    --verde : #197F5B;
    --amarillo : #ef9919;
    --rosa-claro : #f9f5f2;
    --gris-oscuro : #413F40;
    --fuente: font-family: 'Poppins', sans-serif;
    --size-title:80px;
    --size-subtitle:50px;
    --size-title-mob:32px;
    --size-subtitle-mob:30px;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--fuente);
    color: #464646;
    width: 100vw;    
}
h1 {
    font-size: var(--size-title);
    color: white;
}
h2 {
    font-size: var(--size-subtitle);
}
/***********************menu **********************************/
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--verde);
    height: 4rem;
}
.logo {
    width: 7rem;
    padding-left: 1rem;
    font-size: 1.8rem;
}
.enlaces-header {
    margin-right: 10px;
}
.enlace-header{
    color:white;
    padding-right: 2rem;
    text-decoration: none;
    font-size: 1.1rem;
}

.boton-menu {
    padding-right: 3.5rem;
    display: none;
}

.enlace-header:hover{
    text-decoration: underline;
    font-size: 1.3rem;
}
/***********************MAIN **********************************/
main {
    background-color: var(--verde);
    clip-path: polygon(50% 0%, 100% 0, 100% 70%, 80% 100%, 20% 100%, 0 70%, 0 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.name {
    color: var(--amarillo);
}
.my-description {
    font-size: var(--size-subtitle);
    color: white;
    width: 60%; 
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.content-img {
    position: relative;
    width: 80vw;
    height: 60vw;
    max-width: 675px;
    max-height: 575px;
}

.content-img > img {
    width: 50vw;
    height: 60vw;
    max-width: 475px;
    max-height: 575px;
}
.content-burbuja{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40vw;
    height: 20vw;
    max-width: 200px;
    max-height: 60px;
    background-color: var(--rosa-claro);
    border-radius: 30px;
    text-align: center;
    padding-top: .1rem;
    font-size: 1.5rem;
}
.time-work{
    font-weight: bold;
    color: var(--amarillo);
}
.burbuja1 {
   top:0;
   left:0;
}
.burbuja2 {
    bottom:0;
    right: 0;
}
.social {
 width: 65vw;
 height: 100px;
 display: flex;
 justify-content:center;
 margin-top: 20px;
 gap: 30px;
}
.content-social-link{
    width: 15vw;
    height: 15vw;
    max-width: 75px;
    max-height: 75px;
    background-color: white;
    clip-path: circle(50% at 50% 50%);
   
}
.social-img {
    width: 10vw;
    height: 10vw;
    max-width: 60px;
    max-height: 60px;
    margin-top: 7px;
}

/***********************CONTACTO EMAIL**********************/
.contacto {
    width: 60vw;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    position: relative;
    text-align: center;
    font-size: 2.2rem;
    padding-top: 10px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-contacto {
    background-color: #EDE4DB;
    width: 35vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#input-contacto{
    height: 40px;
    width: 25vw;
    background-color: #EDE4DB;
    border: none;
    font-size: 1.8rem;
    margin-top:5px ;
    padding-left: 10px;
}
#boton-contacto {
    height: 40px;
    width: 5vw;
    background-color: var(--verde);
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    margin-top:5px ;
    color: white;
}

/********************ACERCA DE MI*************************/
.about-me {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}
.desc-about-me {
    padding-left: 40px;
    padding-top: 15px;
    border-left: 5px solid var(--verde);
}
.desc-about-me > p {
    padding-bottom: 20px;
    font-size: 1.5rem;
}
.boton-download {
    background-color: var(--verde);
    width: 200px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: center;
}
/********************ESTUDIOS*************************/
.estudios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.estudios > h2 {
    width: 100%;
}
.estudio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}
.estudio > img{
    width: 100px;
    width: 100px;
}
/*******************Habilidades**************************/
.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.habilidades> h2 {
    padding-bottom: 20px;
}
.desc-habilidad {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.5rem;
}
.habilidad {
    padding-bottom: 10px;
}

progress {
    border: 0;
    height: 20px;
    width: 60vw;
    border-radius: 20px;
}
progress::-webkit-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 20px;
}
progress::-webkit-progress-value {
    border: 0;
    height: 20px;
    border-radius: 20px;
}
progress::-moz-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 20px;
}
/******************Experiencia***************************/
.experiencia {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: center;
    position: relative;

}
.experiencia > h2 {
    width: 100%;
}
.tarjeta-exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    gap:10px;
    width: 300px;
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}
.tarjeta-exp > img{
    width: 150px;
}
/*******************************************************/
   
.w3-black{
    color: #fff!important;
    background-color: #000!important;
}
.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}
.w3-button {
    border: none;
    display: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}


/********************Portafolio*************************/
.portafolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: center;
    gap:10px;
}
.portafolio > h2 {
    width: 100%;
}
.portafolio > img{
    width: 25vw;
    height:25vw;
}
/**********************Contactar***********************/
.contactar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.contactar > h2 {
    width: 100%;
}
.card-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 200px;
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}
.card-contacto > img{
    width: 60px;
}
/**********************Footer***********************/
footer {
    background-color: var(--verde);
    height: 6rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding-top: 15px;
}
/*********************************************/
@media screen and (min-width: 1200px) {
    .enlace-header {
        font-size: 1.2rem;
        padding-right: 2.5rem;
    }
}
@media screen and (max-width: 915px) {
    .enlace-header {
        font-size: 1rem;
        padding-right: 1rem;
    }
    h1 {
        font-size: 50px;
    }
    .my-description {
        font-size: 30px;
    }
    .portafolio > img{
        width: 45vw;
        height:45vw;
    }
}
@media screen and (max-width: 768px) {

    #check-menu:checked + .enlaces-header {
        display:flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
     
        position:fixed;
        top:0px;
        height: 100vh;
        width: 100vw;
        background-color: #413F40;
        z-index: 100;
    }
    h2 {
        font-size: 2rem;
    }
    .logo {
        padding-left: 1rem;
        font-size: 1.2rem;
    }
    .boton-menu {
        display: block;
        position: absolute;
        top:20px;
        right: 1rem;
        z-index: 200;
    }
    .enlaces-header {
        display: none;
    }
    .enlace-header {
        flex-basis:80px;
        padding-top: 1rem;
        font-size: 7vw;
        text-decoration: underline;
    }

    /************************************/
    main > h1 {
        order:1;
        font-size: 3rem;
    }
    .content-burbuja{
        max-width: 180px;
        max-height: 45px;
        font-size: 1.2rem;
    }
    .content-img {
        order:0;
    }
    .my-description{
        order:2;
        font-size: 2rem;
    }
    .social{
        order:3;
    }
    /**********************************/
    .contacto {
        width: 100vw;
        font-size: 1.8rem;
        padding-top: 0px;
        margin-top: 0px;
        gap:10px;
    }
    .form-contacto {
        width: 45vw;
        height: 30px;
    }
    
    #input-contacto{
        height: 25px;
        width: 25vw;
        font-size: 1rem;
    }
    #boton-contacto {
        height: 25px;
        width: 10vw;  
        font-size: 1rem;
    }
    /**********************************/
    .about-me {
        width: 100vw;        
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    .desc-about-me {
        padding-left: 25px;
        padding-top: 8px;
    }
    .desc-about-me > p {
        padding-bottom: 10px;
        font-size: 1.1rem;
    }
    .boton-download {
        width: 150px;
        height: 30px;
        font-size: 1rem;
    }
    /**********************************/
    .estudios {
        width: 100vw;
    }
    /**********************************/
    .habilidades{        
        width: 100vw;
        font-size: 1rem;
    }
    .desc-habilidad {
        font-size: 1.3rem;
    }
    /**********************************/
    .experiencia {
        width: 100vw;
    }
    .tarjeta-exp {
        width: 200px;
        height: 200px;
        padding-top: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        gap:5px;
    }
    .tarjeta-exp > img{
        width: 100px;
    }
    /**********************************/
    .portafolio {
        width: 100vw;
    }
    .portafolio > img{
        width: 80vw;
        height:80vw;
    }
    /**********************************/
    .contactar {
        width: 100vw;
    }
    .card-contacto {
        width: 150px;
        height: 100px;
        padding-top: 20px;
        font-size: 1.2rem;
    }
    .card-contacto > img{
        width: 40px;
    }
    /**********************************/
    .w3-button {
        display:inline-block;
    }
}

@media screen and (max-width: 450px) {
    .nav-header {
        flex-wrap: wrap;
        justify-content: center;
    }
    main > h1 {
        order:1;
        font-size: 2rem;
    }
    .my-description{
        order:2;
        font-size: 1.5rem;
    }
    .content-burbuja{
        max-width: 120px;
        max-height: 40px;
        font-size: 1rem;
    }
    .contacto {       
        font-size: 1.2rem;
    }
    .form-contacto {
        width: 80vw;
    }
    #input-contacto{
        width: 40vw;
        font-size: .6rem;
    }
    #boton-contacto {

        width: 20vw;  
        font-size: .6rem;
    }
    .desc-habilidad {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 270px) {
    .logo{
        display: none;
    }
}

